.nav-bg{
    background: #F0FFF0;
}
.green-button{
    padding: 8px 25px !important;
    background: #21B573;
    color: white !important;
    border: none;
    border-radius: 25px;
}
.banner{

}
.banner h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}
.banner-green-text{
    color: #21B573;
}
.banner-red-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FD511A;
}
.banner-gray-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #6C6B6B;
}